body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F3EFE0;
}
button, nav{
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* .search-button{
  align
} */

.TORContainer {
  position: relative;
}

.pinfalse {
  font-size: 150%;
  position: absolute;
  right: 30px;
  top: 10px;
  cursor: pointer;
  color: rgb(170, 170, 170);
}

.pintrue {
  font-size: 150%;
  position: absolute;
  right: 30px;
  top: 10px;
  cursor: pointer;
}

.singleTopic {
  position: relative;
  display: inline-block;
  cursor: default;
  margin: 5px 0;
  background-color: rgb(233, 227, 208);
  font-weight: bold;
  border-radius: 8px;
  text-indent: 5px;
}
#context-menu {
  font-weight: normal
}
.header {
  font-weight: bold
}
.button{
  margin: 5px;
}
.contextMenu {
  /* position: absolute;
  top: 0;
  margin-left: 35vw; */
  cursor: pointer;
  background-color: rgb(233, 227, 208);
  /* width: 200px; */
}

.level1 {
  margin-inline-start: 35px;
}
.level2 {
  margin-inline-start: 65px;
}
.level3 {
  margin-inline-start: 90px;
}
.level4 {
  margin-inline-start: 120px;
}

#check{
  position: inherit
}
#searchThing{
  border-radius: 8px;
}